# Ergonomics and Sick Leave Cost Analysis

This project uses real-world data to analyze the cost implications of musculoskeletal disorders (MSDs) in the workplace. The goal is to assess the financial impact of sick leave due to MSDs and evaluate how ergonomic interventions, such as assistive equipment, could reduce these costs.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Step 1: Load the Datasets

I will load two datasets:
1. A sample ergonomics survey dataset (from EU-OSHA-style data)
2. Country-level data for average salary and sick leave cost

In [2]:
ergonomics_df = pd.read_csv('eu_osha_ergonomics_dataset.csv')
cost_df = pd.read_csv('country_sick_leave_costs.csv')
ergonomics_df.head()

,Respondent ID,Country,Job Role,Lifting Heavy Loads,Posture: Standing Long Periods,Posture: Twisting Movements,Use of Assistive Equipment,Back Pain Last 12 Months,Sick Leave Due to MSD
0,1,Norway,Warehouse Worker,Daily,Yes,Often,No,Yes,Yes
1,2,Sweden,Nurse,Weekly,Yes,Sometimes,Yes,No,No
2,3,Germany,Construction,Daily,Yes,Often,No,Yes,Yes
3,4,Norway,Logistics,Daily,No,Rarely,No,No,No
4,5,France,Nurse,Weekly,Yes,Often,Yes,Yes,No

## Step 2: Clean and Prepare Data

I will standardize the country names in both datasets to ensure they can be merged accurately.

In [3]:
# Strip and lowercase for matching
ergonomics_df['Country'] = ergonomics_df['Country'].str.strip()
cost_df['Country'] = cost_df['Country'].str.strip()
ergonomics_df['Country'] = ergonomics_df['Country'].str.title()
cost_df['Country'] = cost_df['Country'].str.title()
ergonomics_df['Country'].unique()

array(['Norway', 'Sweden', 'Germany', 'France', 'Italy', 'Spain'],
      dtype=object)

## Step 3: Merge Datasets

Now I will merge the ergonomics survey data with the country-level salary and cost data.

In [4]:
merged_df = pd.merge(ergonomics_df, cost_df, on='Country', how='left')
merged_df.head()

,Respondent ID,Country,Job Role,Lifting Heavy Loads,Posture: Standing Long Periods,Posture: Twisting Movements,Use of Assistive Equipment,Back Pain Last 12 Months,Sick Leave Due to MSD,Average Daily Salary (EUR),Estimated Sick Leave Cost/Day (EUR),Avg MSD Sick Days per Year
0,1,Norway,Warehouse Worker,Daily,Yes,Often,No,Yes,Yes,300,350,8
1,2,Sweden,Nurse,Weekly,Yes,Sometimes,Yes,No,No,250,300,10
2,3,Germany,Construction,Daily,Yes,Often,No,Yes,Yes,220,280,12
3,4,Norway,Logistics,Daily,No,Rarely,No,No,No,300,350,8
4,5,France,Nurse,Weekly,Yes,Often,Yes,Yes,No,210,270,9

## Step 4: Handle Missing Values

I will check if any countries were not matched and handle missing values if needed.

In [5]:
missing_countries = merged_df[merged_df['Average Daily Salary (EUR)'].isna()]['Country'].unique()
missing_countries

array([], dtype=object)

## Step 5: Calculate Annual Cost of MSD-Related Sick Leave per Worker

I will calculate the cost per worker using the following formula:
**Total Cost = Sick Days × Sick Leave Cost per Day**

In [6]:
merged_df['Estimated MSD Sick Leave Cost (EUR)'] = merged_df['Avg MSD Sick Days per Year'] * merged_df['Estimated Sick Leave Cost/Day (EUR)']
merged_df[['Country', 'Job Role', 'Estimated MSD Sick Leave Cost (EUR)']].head()

   Country          Job Role  Estimated MSD Sick Leave Cost (EUR)
0   Norway  Warehouse Worker                                 2800
1   Sweden             Nurse                                 3000
2  Germany      Construction                                 3360
3   Norway         Logistics                                 2800
4   France             Nurse                                 2430

## Step 6: Save the Merged and Processed Dataset

I will save the final merged dataset as a CSV for further analysis or visualization in Tableau.

In [7]:
merged_df.to_csv('final_ergonomics_cost_dataset.csv', index=False)
"final_ergonomics_cost_dataset.csv saved."

'final_ergonomics_cost_dataset.csv saved.'